* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 让内边距和边框不会增加元素的实际尺寸 */
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Microsoft YaHei", sans-serif;
  background-color: #00000022;
  color: #eee;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

#container-bg {
  height: 100%;
  background: #1d2021 url(https://bing.img.run/1920x1080.php) no-repeat;
  /* background-image: url(https://api.bimg.cc/today?w=1920&h=1080&uhd=False&mkt=en-US); */
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  padding-bottom: 64px;
  height: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 8px;
  background-color: #282828dd;
}

header {
  border-radius: 16px;
  background-color: #32302fdd;
  display: flex;
  width: 100%;
  height: 64px;
}

header .logo {
  width: calc(100% - 192px);
  flex: 0 0 auto;
}

header .logo-text {
  font-size: large;
  font-weight: 600;
  color: #ebebeb;
}

header .logo img {
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin-left: 24px;
}

header nav ul {
  min-width: 192px;
}

header nav ul {
  display: flex;
  line-height: 50px;
  margin-left: 20px;
}

header nav ul li {
  padding: 0 12px;
}

.content .avatar-area {
  /* height: 20vh; */
  margin-top: 10px;
  text-align: center;
}

.content .avatar-area img {
  width: 150px;
  height: 150px;
  border: solid 4px rgb(174, 220, 104);
  border-radius: 50%;
  line-height: 150px;
  padding: 3px;
}

.connecting-line {
  width: 2px;
  height: 6vh;
  background-color: #ccc;
  margin: 12px auto;
}

.content .text-area {
  text-align: center;
  /* margin-top: 6vh; */
  letter-spacing: 6px;
}

.content .text-area .title {
  font-size: 2.5rem;
  /* margin: 20px; */
  color: orange;
}

.content .text-area .description {
  padding-top: 24px;
  color: orange;
}

.content .main .connecting-line {
  margin-top: 2vh;
  /* margin-bottom: 6vh; */
}

.content .main .main-list {
  padding: 24px;
  width: 100%;
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .main .main-list li {
  font-size: medium;
  font-weight: 500;
  border: 2px solid #fffdf0;
  width: 20%;
  min-width: 168px;
  height: 44px;
  line-height: 44px;
  /* margin-bottom: 16px; */
  margin: 10px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
}

/* .content .main .main-list li:first-child {
  margin-left: 0;
} */
.main-list li a {
  margin-left: -12px;
}

.main-list li a:hover {
  color: orange;
  cursor: pointer;
}

.main-list li a span {
  position: relative;
}

.main-list li .tag {
  width: 100px;
}

.main-list li .fa {
  padding-top: 14px;
  padding-left: 14px;
  position: relative;
  float: left;
}

footer {
  position: relative;
  margin-top: -64px;
  height: 64px;
  clear: both;
  line-height: 100%;
  text-align: center;
  font-size: 0.8rem;
  bottom: 0.8rem;
  height: 64px;
  color: #c0c0c0;
}

footer .footer-ip {
  margin-bottom: 6px;
}

footer .copyright {
  margin-top: 15px;
  color: #777;
}

footer .copyright a {
  color: #387a9f;
}

#musicplayer {
  display: none;
}

/* 响应式设计 */
@media (max-width: 768px) {
  #container {
    max-width: 100%;
  }

  footer {
    width: 100%;
  }

  header {
    margin: 8px;
    align-items: center;
  }

  header .logo {
    margin-bottom: 10px;
  }

  header li {
    font-size: large;
    font-weight: 600;
    color: #d98102;
    margin-left: 13px;
    padding-bottom: 21px;
  }

  header nav ul {
    justify-content: center;
    margin: 10px 0;
  }

  .avatar-area {
    height: 30vh;
  }

  .avatar-area img {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  .connecting-line {
    height: 6vh;
  }

  .text-area .title {
    font-size: 2rem;
  }

  .main ul {
    list-style: none;
  }

  .main-list li {
    width: 120px;
  }
}

/* 超宽屏设计 */
@media (min-width: 2000px) {
  #container {
    max-width: 1680px;
  }
}

/* 适配高度 */
@media (max-height: 650px) {
  .content .main .main-list li {
    min-width: 44%;
  }
  /* 44% */
  .connecting-line {
    display: none;
  }
  .content .avatar-area {
    display: none;
  }
  .content .text-area .description {
    padding-bottom: 24px;
    color: orange;
  }
}

/* footer 适配高度 */
@media (max-height: 768px) {
  footer {
    display: none;
  }
}

/* footer 适配高度 */
@media (max-width: 440px) {
  footer {
    display: none;
  }
  .content .main .main-list li {
    min-width: 124px;
  }
  .main-list li .fa {
    display: none;
  }
}
